# Copyright (c) 2000-2015 Synology Inc. All rights reserved.

DownloadServer="sourceforge.net/projects/dsgpl/files"
AvailablePlatform_4_2="6281 824x 853x armada370 bromolow cedarview ppc qoriq x64"
AvailablePlatform_4_3="6281 853x armada370 armadaxp bromolow cedarview evansport qoriq x64"
AvailablePlatform_5_0="6281 853x armada370 armadaxp bromolow cedarview comcerto2k evansport qoriq x64"
AvailablePlatform_5_1="6281 853x alpine armada370 armada375 armadaxp avoton bromolow cedarview comcerto2k evansport qoriq x64"
AvailablePlatform_5_2="6281 853x alpine armada370 armada375 armada38x armadaxp avoton bromolow cedarview comcerto2k evansport hi3535 monaco qoriq x64 northstarplus"

SourceDir="/source"
SynoDir="/usr/syno"
SynoBinDir="$SynoDir/bin"
SynoLibDir="$SynoDir/lib"
SynoLib64Dir="$SynoDir/lib64"
SynoIncludeDir="$SynoDir/include"
KernelProj="$SourceDir/uclinux2422"
KernelDir="$KernelProj/linux-2.4.x"
SynobiosDir="$SourceDir/synobios"
SynoBaseProj="lnxsynobase"
BuildScriptDir="$ScriptsDir/build"
InstallScriptDir="$ScriptsDir/install"
InstallDevScriptDir="$ScriptsDir/install-dev"
LogDir="/logs"
ImageDir="/image"
TarBallDir="$ImageDir/tarballs"
DebugTarBallDir="$ImageDir/synodebug"
TmpInstDir="/tmp/_install"
TmpMnt="/tmp/_tmpmnt"
DebDir="/deb"
DebDevDir="${DebDir}/build"
DebPkgDir="${DebDir}/result"
SpkResultDir="result_spk"
VIRTUAL_PROJECT_SEPERATOR="-virtual-"

# vim:ft=sh
